@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css");
.mdi {
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/**
TODO - Firefox/Edge specific rules. Less focus on webkit.
**/

@keyframes pullFromRight {
  from {
    width: 0;
  }
}

.yu {
  position: relative;
  min-height: 720px;
  transition: all 0.5s ease;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  animation: pullFromBottom 0.8s ease;
  font-family: "Roboto";
  width: 100%;
  margin: auto;
}

.yu.pip {
  position: fixed;
  right: 0;
  bottom: 0;
  min-height: 0px;
  width: 350px;
  margin: 32px;
  z-index: 99999;
}

.yu.pip > .yu-container {
  min-height: initial;
}

.yu.pip > .yu-container > .yu-renderer {
  min-height: initial;
}

.yu.pip > #menuPanel,
.yu.pip > .yu-container > #yu-channel,
.yu.pip > .yu-container > #yu-filename,
.yu.pip > .yu-toolbar {
  display: none;
}

.yu.theater {
  position: absolute;
  left: 0;
  top: 92px;
  max-height: 750px;
  width: 100%;
}

.yu.full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  box-shadow: none;
  border-radius: 0px !important;
  margin: 0;
}

.yu-container {
  position: relative;
  z-index: 1;
  background: black;
  min-height: 720px;
  overflow: hidden;
}

.yu-container.menuOpen {
  filter: blur(20px);
  transform: scale(1.5);
}

.yu.full > .yu-container {
  height: 100%;
  width: 100%;
}

.yu-renderer {
  background: black;
  min-height: 720px;
}

.yu.theater > .yu-container,
.yu.theater > .yu-renderer {
  height: 750px !important;
  object-fit: contain;
}

#playindi {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

#playindi > .mdi {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  /*border: 1px solid white;*/
  padding: 16px;
  color: white;
  font-size: 32px !important;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
}

#playindi > .spinner {
  margin: 16px;
  border: initial;
}

.yu-toolbar {
  width: 100%;
  height: 100px;
  position: absolute;
  z-index: 20;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
  display: flex;
  flex-flow: column wrap;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  filter: drop-shadow(0 2px 20px rgba(0, 0, 0, 0.17));
}

.yu-toolbar.menuOpen {
  /*background: transparent;*/
}

.yu-toolbar section {
  display: flex;
  flex-flow: row wrap;
  height: 48px;
  width: calc(100% - 32px);
  position: absolute;
  bottom: 0;
  margin: 16px;
}

.yu-toolbar section.seeker {
  position: relative;
  height: 8px;
  bottom: -8px;
  width: calc(100% - 32px);
  margin: 16px;
  border-radius: 50px;
}

.yu-toolbar section.seeker > progress {
  width: inherit;
  -webkit-appearance: none;
  border: none;
  background: transparent;
  color: transparent;
  margin: -6px auto;
  height: 3px;
  -moz-appearance: none;
  border-radius: 50px;
}

.yu-toolbar section.seeker > progress::-webkit-progress-bar {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}

.yu-toolbar section.seeker > progress::-moz-progress-bar {
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.17);
  z-index: 5;
  margin: -6px auto;
  height: 3px;
  border-radius: 50px;
}

.yu-toolbar section.seeker > progress::-webkit-progress-value {
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.17);
  z-index: 5;
  border-radius: 50px;
}

.yu-toolbar section.seeker > progress.buffering::-webkit-progress-bar {
  background-color: transparent;
  border-radius: 50px;
}

.yu-toolbar section.seeker > progress.buffering::-webkit-progress-value {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: none;
  z-index: 4;
  border-radius: 50px;
}

.yu-toolbar section.seeker > progress.buffering::-moz-progress-bar {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: none;
  z-index: 4;
  margin: -6px auto;
  height: 3px;
}

.yu-toolbar section.seeker > input {
  width: calc(100% - 32px);
  margin: auto 16px;
  background: transparent;
  -webkit-appearance: none;
  border: none;
  padding: 0px;
  -moz-appearance: none;
  border-radius: 50px;
}

.yu-toolbar section.seeker > input::-moz-range-track {
  width: calc(100% - 32px);
  margin: auto 16px;
  background: transparent;
  -webkit-appearance: none;
  border: none;
  padding: 0px;
  -moz-appearance: none;
}
.yu-toolbar section.seeker > input:focus {
  outline: none;
}

.yu-toolbar section.seeker > input::-webkit-slider-thumb {
  -webkit-appearance: none;
  opacity: 0;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  margin: 0;
  transition: all 0.3s ease;
  padding: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.yu-toolbar section.seeker > input::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  opacity: 0;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  margin: 0;
  transition: all 0.3s ease;
  padding: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border: none;
}

.yu-toolbar section.seeker > input::-webkit-slider-thumb:active,
.yu-toolbar section.seeker > input::-webkit-slider-thumb:hover {
  -webkit-appearance: none;
  background: #fff;
  opacity: 1;
}

.yu-toolbar section.seeker > input::-webkit-slider-thumb:focus {
  transform: scale(1.08);
}

.yu-toolbar section.seeker > input::-moz-range-thumb:active,
.yu-toolbar section.seeker > input::-moz-range-thumb:hover {
  -webkit-appearance: none;
  background: #fff;
  opacity: 1;
}

.yu-button {
  /*border: 1px solid rgba(255,255,255,0);*/
  border: none;
  margin: 1px;
  flex-basis: 48px;
  background: transparent;
  user-select: none;
  -webkit-appearance: none;
  border-radius: 12px;
}

.yu-button > .mdi {
  color: rgba(255, 255, 255, 0.9);
}

.yu-button:hover > .mdi,
.yu-button:active > .mdi {
  color: #0099ff;
}

.yu-button:hover,
.yu-button:active {
  /*border: 1px solid rgba(255,255,255,.3);*/
  border: none;
  background: rgba(255, 255, 255, 1);
  transform: scale(1.03);
  filter: drop-shadow(0 0px 12px rgba(0, 0, 0, 0.05));
}

#volume-button:hover ~ .yu-volume-slider,
.yu-volume-slider:hover,
.yu-volume-slider:active,
.yu-volume-slider:focus {
  opacity: 1;
  width: 100px;
  padding: 0 5px;
}

.yu-volume-slider {
  opacity: 0;
  width: 0px;
  margin: auto;
  padding: 0;
  position: relative;
  transition: all 0.3s ease;
}

.yu-volume-slider input {
  z-index: 20;
  position: relative;
  -webkit-appearence: none;
  width: 100px;
  border: none;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease;
  border: none;
  border-radius: 50px;
}

.yu-volume-slider input::-moz-range-track {
  z-index: 20;
  position: relative;
  -webkit-appearence: none;
  width: 100px;
  border: none;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease;
  border: none;
}

.yu-volume-slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  margin: 1px 0;
  padding: 0;
  opacity: 0;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.yu-volume-slider input::-webkit-slider-thumb:active,
.yu-volume-slider input::-webkit-slider-thumb:hover {
  -webkit-appearance: none;
  opacity: 1;
  background: white;
}

.yu-volume-slider input::-moz-range-thumb {
  -webkit-appearance: none;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  margin: 1px 0;
  padding: 0;
  opacity: 0;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.yu-volume-slider input::-moz-range-thumb:active,
.yu-volume-slider input::-moz-range-thumb:hover {
  -webkit-appearance: none;
  opacity: 1;
  background: white;
}

.yu-volume-slider progress {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 10;
  width: 100px;
  background: transparent;
  color: transparent;
  height: 3px;
  -webkit-appearance: none;
  transition: all 0.3s ease;
  border: none;
  border-radius: 50px;
}

.yu-volume-slider progress::-moz-progress-bar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 10;
  width: 100px;
  background: transparent;
  color: transparent;
  height: 3px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.17);
  z-index: 5;
  border: none;
}

.yu-volume-slider progress::-webkit-progress-bar {
  background-color: rgba(255, 255, 255, 0.17);
  border-radius: 50px;
}

.yu-volume-slider progress::-webkit-progress-value {
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.17);
  z-index: 5;
  border-radius: 50px;
}

.yu-time {
  user-select: none;
  cursor: default;
  margin: auto;
  color: rgba(255, 255, 255, 1);
  padding: 0 8px;
  font-size: 0.9em;
  font-family: "SF Mono";
}

@media (max-width: 400px) {
}

#menuPanel {
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(20px);
  position: absolute;
  z-index: 19;
  top: 0;
  box-shadow: none;
  pointer-events: none;
}

#menuPanel.visible {
  display: flex;
  opacity: 1;
  animation: fade 0.3s ease;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  flex-flow: column wrap;
  pointer-events: all;
  overflow: auto;
}

#menuPanel h1,
#menuPanel h2,
#menuPanel span {
  font-weight: 700;
  padding: 24px;
  white-space: nowrap;
}

#menuPanel h1 {
  font-size: 3em;
}

#menuPanel h3 {
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
}

#menuPanel > * > * > .ep-link {
  flex-basis: 64px !important;
  margin: 2px;
}

#menuPanel > * > * > .ep-link h1 {
  padding: 0;
  margin: auto;
  font-size: 2em;
}

#menuPanel > * > * > .ep-link > * > .card {
  height: 78px !important;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 24px;
  border: 2px solid transparent;
}

#menuPanel > * > * > .ep-link:hover > * > .card {
  background: rgba(255, 255, 255, 1);
}

#menuPanel > * > * > .ep-link:hover > * > .card h1 {
  color: #0099ff !important;
}

#menuPanel > * > * > .ep-link.current > * > .card {
  background: rgba(255, 255, 255, 1);
}

#menuPanel > * > * > .ep-link.current > * > .card h1 {
  color: #0099ff !important;
}

#yu-filename {
  position: absolute;
  top: 0;
  left: 0;
  margin: 24px;
  font-size: 2.2em;
  font-weight: 700;
  color: #fff;
  border-radius: 24px;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  padding: 16px;
}

#yu-filename span {
  font-size: 0.7em;
  vertical-align: super;
  text-shadow: none;
  color: rgba(255, 255, 255, 0.5);
  animation: pullFromBottom 0.3s ease;
}

#yu-channel {
  position: absolute;
  right: 0;
  top: 0;
  margin: 24px;
  padding: 16px;
  color: rgba(255, 255, 255, 0.1);
}

#yu-channel svg {
  display: block;
  height: 32px;
  fill: rgba(255, 255, 255, 0.1);
}

#resume-menu {
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(20px);
  position: absolute;
  z-index: 19;
  top: 0;
  box-shadow: none;
  pointer-events: none;
}

#resume-menu.visible {
  display: flex;
  opacity: 1;
  animation: fade 0.3s ease;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  flex-flow: column wrap;
  pointer-events: all;
  overflow: auto;
}

#resume-menu h1,
#resume-menu h2,
#resume-menu span {
  font-weight: 700;
  padding: 24px;
  white-space: nowrap;
}

#resume-menu button {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  border: 2px solid transparent;
  padding: 4px;
  margin: 2px;
  font-size: 1.5em;
}

#resume-menu button:hover {
  background: rgba(255, 255, 255, 1);
  color: #0099ff !important;
}

#yu-pip-close {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-end;
  background: #111;
}

#yu-pip-close span {
  margin: auto 12px;
  flex: 1;
  color: white;
}

#yu-pip-close > .mdi {
  float: right;
  padding: 8px;
  color: white;
}
